<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
    </fieldset>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-md-8"
    data-module="collapsible-group"
    data-expand-text="Expand all parts"
    data-collapse-text="Collapse all parts"
  >
    <h3 class="remove-top-margin">Parts</h3>
    <p class="add-bottom-margin if-no-js-hide">
      <a href="#" class="js-toggle-all">Collapse all parts</a>
    </p>

    <section class="panel-group" id="parts" data-module="parts">
      <%= f.fields_for :parts, @ordered_parts do |part| %>
        <%= render partial: '/shared/common_part_attributes', locals: { f: part, editable: false, child_record_type: 'part' } %>
      <% end %>
    </section>

  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
