<%= form_group(f, :change_note, label: "Summary of changes to this edition", attributes: { id: "edition_change_note_input" }) do %>
  <%= f.text_area :change_note, rows: 3, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
<% end %>

<div class="form-group emphasised-field add-bottom-margin checkbox">
  <span class="form-wrapper">
    <%= f.label :major_change, class: "control-label" do %>
      <%= f.check_box :major_change, disabled: @resource.locked_for_edits?, class: "input-md-7" %>
      Alert the public to this change
    <% end %>
  </span>
</div>
