<% error_class = @resource.errors.has_key?(:reviewer) ? ' error has-error' : '' -%>
<div class="form-group<%= error_class %>">
  <label for="edition_reviewer" class="control-label">Reviewer</label>
  <%= f.select :reviewer, User.enabled.order_by([[:name, :asc]]).collect{ |p| [p.name, p.name] }, { :include_blank => true }, { :class => "form-control input-md-3 #{error_class}", :disabled => @resource.locked_for_edits?, "data-module" => 'assignee-select'} %>
  <% if @resource.errors.has_key?(:reviewer) -%>
    <ul class="help-block">
    <% @resource.errors[:reviewer].each do |error| -%>
      <li><%= error %></li>
    <% end -%>
    </ul>
  <% end -%>
</div>

