<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/secondary_navigation", {
      aria_label: "Document navigation",
      items: edition_nav_items(@edition, current_user),
    } %>
  </div>
</div>
