<% content_for :page_title, @resource.title %>
<% content_for :title_context, @resource.title %>
<% content_for :title, "Compare edition #{@comparison.version_number} and #{@resource.version_number}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: [
        {
          field: "Content type",
          value: @resource.format.underscore.humanize,
        },
        {
          field: "Edition",
          value: edition_version_and_state_tag(@resource),
        },
      ],
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to("Back to History and notes", history_edition_path(@resource.history.first), class: "govuk-link") %>
    </p>
    <div class="govuk-body compare-editions">
      <%= diff_html(@comparison.whole_body, @resource.whole_body) %>
    </div>
  </div>
</div>
