<% @edition = @resource %>

<% content_for :page_title, @resource.title %>
<% content_for :title, @resource.title %>

<% unless @edition.errors.empty? %>
  <% content_for :error_summary do %>
    <%= render("govuk_publishing_components/components/error_summary", {
      id: "error-summary",
      title: "There is a problem",
      items: @edition.errors.map do |error|
        {
          text: error.message,
          href: "##{error.attribute.to_s}",
        }
      end,
    }) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds editions__edit__summary">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: [
        {
          field: "Assigned to",
          value: @resource.assigned_to,
          edit: assignee_edit_link(@resource),
        },
        {
          field: "Content type",
          value: @resource.format.underscore.humanize,
        },
        {
          field: "Edition",
          value: sanitize("#{@resource.version_number} <span class='govuk-tag govuk-tag--#{@resource.state}'>#{@resource.status_text}</span>"),
        },
      ],
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: "secondary_navigation" %>
  </div>
</div>

<%= render partial: "secondary_nav_tabs/#{current_tab_name}", :locals => { :publication => @resource } %>
