language: ruby
rvm:
  - 1.9.2
env:
  - DISPLAY=":99" GOVUK_APP_DOMAIN=test.gov.uk RUBYOPT="-rpsych" FACTER_govuk_platform=test
services:
  - mongodb
script:
  - bundle exec rake db:mongoid:drop
  - bundle exec rake ci:setup:minitest test
bundler_args: --without=development
branches:
  except:
    - release
notifications:
  email: false
