<% tab_heading = sanitize("#{language.capitalize} <span class='item-count'>#{pluralize(number_with_delimiter(editions.count), 'item' )}</span>") %>

<% if editions.any? %>
  <%= render "govuk_publishing_components/components/table", {
    caption: tab_heading,
    caption_classes: "govuk-table__caption--m",
    first_cell_is_header: true,
    head: [
      { text: "Title" },
      { text: "Content type" },
      { text: "Assigned to" },
      { text: "Time in queue" },
      { text: "2i reviewer" },
    ],
    rows: editions.map do | edition |
      [
        { text:
          link_to(
            edition.title, edit_edition_path(edition),
            class: "govuk-link govuk-link--no-visited-state",
            data: {
              'ga4-link': '{
                "event_name": "navigation",
                "type": "link"
              }'
            }
          ) + (sanitize("<p class='important-note'>#{edition.important_note.comment}</p>") if edition.important_note.present?) },
        { text: edition.format.underscore.humanize },
        { text: edition.assigned_to || "None" },
        { text: time_ago_in_words(edition.review_requested_at).capitalize },
        { text: reviewer(edition, current_user) || "Not yet claimed" },
      ]
    end,
  } %>
<% else %>
  <%= render "govuk_publishing_components/components/heading", { text: tab_heading } %>
<% end %>
