<% content_for :page_title, "Find content" %>
<% content_for :title, "Find content" %>

<% caption = sanitize("<span class='govuk-visually-hidden'>Find content</span><span class='item-count'>#{pluralize(number_with_delimiter(@presenter.editions.total_count), 'item' )}</span>") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full find-content">
    <% if @presenter.editions.any? %>
      <%= render "govuk_publishing_components/components/table", {
        first_cell_is_header: true,
        caption: caption,
        caption_classes: "govuk-!-margin-bottom-2",
        head: [
          { text: "Title" },
          { text: "Status" },
          { text: "Updated" },
          { text: "Assigned to" },
          { text: "Content type" },
        ],
        rows: @presenter.editions.map do | edition |
          [
            { text: link_to(edition.title, edit_edition_path(edition), class: "govuk-link govuk-link--no-visited-state") +
              (render("govuk_publishing_components/components/hint", { text: "/#{edition.slug}", margin_bottom: 0 }) ) },
            { text: render("govuk_publishing_components/components/tag", { text: edition.state.humanize, colour: edition_status_tag_colour(edition) }) },
            { text: "#{time_ago_in_words(edition.updated_at).capitalize} ago" },
            {
              text: edition.assignee,
            },
            { text: edition.format.underscore.humanize },
          ]
        end,
        } %>
    <%= paginate @presenter.editions %>
      <% else %>
      <p class="govuk-body item-count">0 items</p>
    <% end %>
  </div>
</div>
