<% content_for :page_title, "My content" %>
<% content_for :title, "My content" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full my-content">
    <% if @presenter.editions.any? %>
      <%= render "govuk_publishing_components/components/table", {
        first_cell_is_header: true,
        head: [
          { text: "Title" },
          { text: "Status" },
          { text: "Updated" },
          { text: "Content type" },
        ],
        rows: @presenter.editions.map do | edition |
          hint_text = edition_status_hint_text(edition)
          [
            { text:
              link_to(
                edition.title,
                edit_edition_path(edition),
                class: "govuk-link govuk-link--no-visited-state",
                data: {
                  "ga4-link": {
                    event_name: "navigation",
                    type: "link"
                  }
                }
              ) + (render("govuk_publishing_components/components/hint", { text: hint_text, margin_bottom: 0 }) if hint_text)
            },
            { text: render("govuk_publishing_components/components/tag", { text: edition.human_state_name, colour: edition_status_tag_colour(edition) }) },
            { text: "#{time_ago_in_words(edition.updated_at).capitalize} ago" },
            { text: edition.format.underscore.humanize },
          ]
        end,
        } %>
      <% else %>
        <p class="govuk-body">You do not have any content assigned to you.</p>
      <% end %>
  </div>
</div>
