<% content_for :page_title, "2i queue" %>
<% content_for :title, "2i queue" %>

<div class="govuk-grid-row">
  <div 
    class="govuk-grid-column-full two-eye-queue"
    data-ga4-ecommerce
    data-ga4-list-title="2i queue"
    data-ga4-ecommerce-start-index="0"
    data-module="ga4-search-results-setup"
  >
    <div class="govuk-!-display-none" id="js-result-count"><%= @english_editions.count + @welsh_editions.count %></div>

		<%= render "govuk_publishing_components/components/tabs", {
      panel_border: false,
			tabs: [
				 {
 					id: "english",
 					label: "English",
 					content: render(partial: "two_eye_queue_table", locals: { editions: @english_editions, language: "english"}),
          tab_data_attributes: {
            ga4_event: {
              event_name: "select_content",
              type: "tabs",
              text: "English",
              index_section: 1,
              index_section_count: 2,
            },
          },
 				},
				{
					id: "welsh",
					label: "Welsh",
					content: render(partial: "two_eye_queue_table", locals: { editions: @welsh_editions, language: "welsh"}),
          tab_data_attributes: {
            ga4_event: {
              event_name: "select_content",
              type: "tabs",
              text: "Welsh",
              index_section: 2,
              index_section_count: 2,
            },
          },
				},
			],
		} %>
  </div>
</div>
