/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset.inputs { padding: 0 1em; }

form.formtastic fieldset.buttons { padding: 0 1em; width: 100%; background: transparent; }

form.formtastic fieldset.buttons li { padding-right: 0; }

form.formtastic fieldset > ol { padding: 0; }

form.formtastic fieldset > ol > li label { display: block; width: auto; float: none; font-size: 1em; padding-top: 0; margin-bottom: 0.5em; }

form.formtastic fieldset > ol > li p.inline-hints { color: #666; font-style: italic; margin: 0.5em 0 0 0; }


/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input { width:100%; }

form.formtastic fieldset > ol > li.string input[size],
form.formtastic fieldset > ol > li.password input[size],
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] { width:auto; max-width:100%; }

/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea { width: 100%; font-size: 1em; line-height: 1.4; }
form.formtastic fieldset > ol > li.text textarea[cols] { width: auto; max-width: 100%; }

.formats td.transaction, .formats td.answer, .formats td.guide {
  background: url(/images/index/homepage-topicons.gif) no-repeat;
  padding-left: 50px;
}

.formats td.transaction {
  background-position: 0 -8px;
}

.formats td.answer {
  background-position: 0 -128px;
}

.formats td.guide {
  background-position: 0 -248px;
}


