<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title><%= edition.title %> | alpha.gov.uk</title>	
</head>
<body>
	<header>
    AlphaGov
	</header>
    <article>
      <div id="page">
        <div id="content-container">
            <div id="content">
                <div class="text-content">
                  <h1>HELLO <%= edition.title %></h1>
                </div>
            </div>                    
        </div>   
      </div>     
    </article>        
    <footer>

	</footer>
</body>
</html>

