<html>

<body>
  <div id="wrapper">
    <div style="position: absolute; top: 10px; left: 10px"><a href="javascript:window.parent.close_popups()">[X]</a></div>
    <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_relatedsearches.xml&amp;up__results_type=TOP&amp;up__property=empty&amp;up__search_term=<%= @search_term %>&amp;up__location=empty&amp;up__category=0&amp;up__time_range=3-m&amp;up__max_results=10&amp;synd=open&amp;w=320&amp;h=350&amp;lang=en-GB&amp;title=Google+Insights+for+Search&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
  <style type="text/css">
   .title {
     display: none;
   }
  </style>
  </div>
</body>

</html>