<html>

<body>
  <div id="wrapper">
    <div><a href="javascript:window.parent.close_popups()"><img src="/images/icon-insights-close.png" title="close results window" class="close" /></a></div>
    <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_relatedsearches.xml&amp;up__results_type=TOP&amp;up__property=empty&amp;up__search_term=<%= @search_term %>&amp;up__location=empty&amp;up__category=0&amp;up__time_range=3-m&amp;up__max_results=10&amp;synd=open&amp;w=320&amp;h=350&amp;lang=en-GB&amp;title=Google+Insights+for+Search&amp;output=js"></script>
  <style type="text/css">

   .title {
     display: none;
   }

   .gds-header {
     display: none;
   }

   .close {
     position: absolute;
     top: 0;
     right: 0;
   }

   table.gadget {
     width: 100%;
   }

   table.gadget tr:nth-child(1),
   table.gadget tr:nth-child(2) {
     visibility: hidden;
   }
  </style>
  </div>
</body>

</html>