<% content_for :page_title, 'Popular on GOV.UK' %>
<% content_for :title, 'Delete popular links' %>
<% content_for :title_context, 'Homepage' %>
<div class="govuk-grid-column-two-thirds">
  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: "Are you sure you want to remove the latest popular links edition?",
    margin_bottom: 8
  } %>
</div>
<div class = "govuk-grid-column-one-third popular-links__sidebar" >
  <%= render "homepage/popular_links/sidebar" %>
</div>
