<section>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Title",
    heading_level: 3,
    font_size: "s",
  } %>
  <p><%= edition.title.presence || "None added" %></p>
</section>
