<table class="formats" summary="The number of publications broken down by <%= title %>">
    <thead>
    <tr>
        <th scope="col"><%= title.capitalize %></th>
        <th scope="col">Count</th>
        <th scope="col">Lined up</th>
        <th scope="col">Draft</th>
        <th scope="col">Amends Needed</th>
        <th scope="col">In Review</th>
        <th scope="col">Ready</th>
        <th scope="col">Fact check received</th>
        <th scope="col">Fact check</th>
        <th scope="col">Published</th>
        <th scope="col">Archived</th>
    </tr>
    </thead>
    <tbody>

    <% rows.each do |row| %>
        <% next if is_total_row?(row) %>
        <%= render :partial => 'row', :locals => { :row => row } %>
    <% end %>
    <%= render :partial => 'row', :locals => { :row => get_total_row(rows) } %>

    </tbody>
</table>

