<div id="guide-nav" class="tabs">
  <ul>
    <li><a href="#format">Format</a></li>
		<li><a href="#section">Section</a></li>
  </ul>
	
 <div id="format">
	<% @overviews.each do |title, rows| %>
	  <!-- <h2><%= title.capitalize %></h2> -->
	  <%= render :partial => "row", :locals => {:rows => rows } %>
	<% end %>
  </div>
	<div id="section">
		
	</div>
</div>
