<div id="guide-nav" class="tabs">
  <ul>
		<% @overviews.each do |title, rows| %>
	    <li><a href="#<%= title.parameterize %>"><%= title.capitalize %></a></li>
		<% end %>
  </ul>
	
	<% @overviews.each do |title, rows| %>
		<div id="<%= title.parameterize %>">
      <%= render :partial => "row", :locals => {:rows => rows, :title => title } %>
		</div>
	<% end %>
</div>
