<div id="guide-nav" class="tabs">
  <ul>
		<% @overviews.each do |title, rows| %>
	    <li><a href="#<%= title %>"><%= title.capitalize %></a></li>
		<% end %>
  </ul>
	
	<% @overviews.each do |title, rows| %>
		<div id="#<%= title %>">
		  <%= render :partial => "row", :locals => {:rows => rows } %>
		</div>
	<% end %>
</div>
