<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <legend class="remove-bottom-margin">
        <h2 class="remove-top-margin add-bottom-margin h3">Edit Help page</h2>
      </legend>

      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>

      <%= form_group(f, :body) do %>
        <%= f.text_area :body, rows: 20, disabled: @resource.locked_for_edits?, class: "form-control" %>
      <% end %>
    </fieldset>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
