<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
      <div class="form-group">
        <span class="form-label">
          <%= f.label :body %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :body, rows: 20, disabled: @resource.locked_for_edits?, class: "form-control" %>
        </span>
      </div>
    </fieldset>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
