<%# locals: (edition:, reviewer:) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds editions__edit__summary">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: document_summary_items(edition, reviewer),
    } %>
  </div>
</div>
