<div class="notification">
  <p><%= @latest_edition.latest_status_action.requester.name %> has requested this edition be reviewed</p>

  <% if @latest_edition.latest_status_action.requester == current_user %>
    <p>That's you! You'll get an email when it has been reviewed.</p>
  <% else %>
    <div class="workflow_buttons">      
      <%= review_buttons(@latest_edition.container, @latest_edition)%>
    </div>
    <%= review_forms(@latest_edition.container, @latest_edition)%>
  <% end %>
</div>
