<div class="format-controls">
  <%= button_to 'Add new guide', new_admin_guide_path, :method=>:get, :class => 'guide' %>
  <%= button_to 'Add new answer', new_admin_answer_path, :method=>:get, :class => 'answer' %>
  <%= button_to 'Add new transaction', new_admin_transaction_path, :method=>:get, :class => 'transaction' %>
  <%= button_to 'Add new local transaction', new_admin_local_transaction_path, :method=>:get, :class => 'local_transaction' %>
</div>