<table class="table table-striped table-bordered table-condensed" summary="List of &ldquo;Ready&rdquo; content">
  <thead>
    <tr>
      <th scope="col">Format</th>
      <th scope="col">Biz?</th>
      <th scope="col" class="span4">Title</th>
      <th scope="col">Updated</th>
      <th scope="col" class="span2">Assigned to</th>
      <th scope="col" class="span2">Created by</th>
      <th scope="col">Section</th>
      <th scope="col">Edit</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.ready, :partial => 'publication', :locals => {:tab => :ready} %>
  </tbody>
</table>

<%= content_for :extra_javascript do %>
  <script type="text/javascript">
    $(function () {
      $("table").tablesorter({
        headers: {
          // increment from 0 for columns you wish to not sort
          0: { sorter: false },
          7: { sorter: false },
          8: { sorter: false }
        }
      });
    });
  </script>
<% end %>