<div id="guide-nav">
  <ul class="tabs nav-tabs">
    <%= publication_tab_list 'Lined up', 'Drafts', 'In review', 'Amends needed', 'Out for fact check', 'Fact check received', 'Ready', 'Published', 'Archived' %>
  </ul>
</div>

<% content_for :page_title, "Publications dashboard" %>
