<div class="alert alert-info">
  <% if @resource.latest_status_action %>
  	<p><%= @resource.latest_status_action.requester.name %> requested this edition be fact checked. We&rsquo;re awaiting a response.</p>
  <% else %>
    <p>Someone requested this edition be fact checked. We&rsquo;re awaiting a response.</p>
  <% end %>
  <%= render 'shared/request_amendments' %>
</div>
