<section class="govspeak_help">

<p>For full examples, <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" rel="noopener noreferrer external" class="govuk-link govuk-link--no-visited-state">read the Govspeak Guide (opens in new tab)</a>.</p>
 
<h4>Paste and convert to Markdown</h4>
<p>You can paste formatted text and it’ll be converted into Govspeak Markdown in fields which use and support Markdown.</p>
<p>This works best when copy and pasting from text editing software like Word or Google Docs. It is less likely to recognise formatting from PDFs.</p>
<p>It will convert:</p>
<ul>
  <li>headings</li>
  <li>bullets</li>
  <li>numbered lists</li>
  <li>links</li>
  <li>email links</li>
</ul>
<p>Other formatting, such as tables, will be removed and only plain text pasted. You’ll need to write the Markdown for these separately.</p>

<h4>Headers</h4>
<p class="help-block">Note that the page already has a top heading from the article name.</p>
<pre>## Top level sub-heading
### Second level sub-heading</pre>

<h4>Text Styles</h4>
<pre>**This text will be bold**</pre>

<h4>Acronyms</h4>
<pre>*[HMRC]: His Majesty's Revenue and Customs</pre>

<h4>Bulleted List</h4>
<pre>* item 1
* item 2
* item 3</pre>

<h4>Numbered List</h4>
<pre>1. item 1
2. item 2
3. item 3</pre>

<h4>List of steps</h4>
<pre>s1. First step
s2. Second step
s3. Final step</pre>

<h4>Tables</h4>
<pre>Fruit | Colour
-|-
apple | green
banana | yellow</pre>

<h4>Internal links</h4>
<p class="help-block">Use when linking to <code>http://www.gov.uk/</code>.</p>
<pre>[Income tax rates](/income-tax-rates)</pre>

<h4>External links</h4>
<pre>[link text](http://www.example.com)</pre>

<h4>Download link style</h4>
<pre>$D[link text](http://example.com)$D</pre>

<h4>Info boxes</h4>
<p class="help-block">These can contain other Govspeak items.</p>
<pre>^Info box^
%Warning or alert box%
@Highlighted information box@</pre>

</section>
