<% if object.errors.any? %>
  <div id="error-summary" class="alert alert-danger error-summary">
    <h2 class="add-bottom-margin">There is a problem</h2>
    <ul>
      <% object.errors.each do |error| %>
      <li>
        <% model = object.class %>
        <a href="#<%= model.to_s.underscore + "_" + error.attribute.to_s %>"><%= error.message %></a>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
