<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= heading || "Important" %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body"><%= content %></p>
  </div>
</div>

<%= render "govuk_publishing_components/components/emergency_banner", {
  campaign_class: "national-emergency",
  heading: "Planned downtime",
  short_description: "Publisher will be unavailable on Friday 1 August due to a planned database migration.",
} %>
