<div class="callout callout-warning add-bottom-margin">
  <div class="callout-title">
    Warning
  </div>
  <div class="callout-body">
    Unpublish a page from GOV.UK. This can’t be undone.
  </div>
</div>

<div class="well">
  <%= form_tag("/editions/#{@resource.id}/process_unpublish", method: "post") do %>
    <h3 class="remove-top-margin add-bottom-margin">Unpublish</h3>
      <div class="form-group">
        <label> Redirect to <span class="normal">(optional)<br />
          For example: <code>/government/organisations/hm-revenue-customs</code></span> </label>
        <%= text_field_tag 'redirect_url', '', class: "form-control input-md-12" %>
      </div>
      <%= button_tag 'Unpublish',
      "data-module" => 'confirm',
      "data-message" => "This will remove ‘#{@artefact.name}’ from the website.\n\n Are you sure?",
      :class => "btn btn-danger" %>
    </div>
  <% end %>
</div>
