<div class="callout callout-warning add-bottom-margin">
  <div class="callout-title">
    Warning
  </div>
  <div class="callout-body">
    Unpublishing a page from GOV.UK can not be undone.
  </div>
</div>

<div class="well">
  <%= form_tag("/editions/#{@resource.id}/process_unpublish", method: "post") do %>
    <h2 class="remove-top-margin add-bottom-margin">Unpublish</h2>
    <div class="form-group">
      <label for="redirect_url">Redirect to</label>
      <span class="normal">
        For example: <code>https://www.gov.uk/redirect-to-replacement-page</code>
      </span>
      <%= text_field_tag 'redirect_url', '', class: "form-control input-md-12" %>
    </div>
    <%= button_tag 'Unpublish',
      "data-module" => 'confirm',
      "data-message" => "This will remove ‘#{@artefact.name}’ from the website.\n\n Are you sure?",
      :class => "btn btn-danger" %>
  <% end %>
</div>
