<div class="format-controls">
  <p class="button" role="button"><%= link_to 'Add new guide', new_admin_guide_path %></p>
  <p class="button" role="button"><%= link_to 'Add new answer', new_admin_answer_path %></p>
  <p class="button" role="button"><%= link_to 'Add new transaction', new_admin_transaction_path %></p>
</div>