<div id="guide-lists">
  <ul>
    <li><a href="#new">New</a></li>
    <li><a href="#published">Published</a></li>
    <li><a href="#archive">Archive</a></li>
    <li><a href="#review-requested">Review Requested</a></li>
  </ul>
  
  <div id="new">
    <table>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @guides.each do |guide| %>
        <tr>
          <td>
            <%= link_to guide.title, [:admin, guide] %>
          </td>
          <td>
            <%= link_to 'Edit', [:edit, :admin, guide] %>
            <%= link_to 'Preview', '#' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div id="published">
  </div>
  <div id="archive">
  </div>
  <div id="review-requested">
  </div>
</div>

<p><%= link_to '+ Add New', new_admin_guide_path %></p>

<% content_for :extra_javascript do %>
<script type="text/javascript" charset="utf-8">
$(function () { $('#guide-lists').tabs(); });
</script>
<% end %>