<div id="guide-nav" class="ui-tabs ui-widget-content">

  <p class="intro">New guide intro paragraph goes here. Rich should probably write it.</p>

  <%= semantic_form_for [:admin, @guide] do |f| %>
    <%= render :partial => 'inputs', :locals => {:f => f} %>
  <% end %>

  <% content_for :extra_javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('#guide_name').change(function () {
        if ($('#guide_slug').text() == '') {
          var title = $('#guide_name').val();
          $('#guide_slug').val(GovUKGuideUtils.convertToSlug(title));
        }
      });
    });
  </script>
  <% end %>
</div>