    <div class="page-title">
      <h1>Manage expectations</h1>
    </div>

    <div class="well">

      <div class="row">
        <div class="col-md-5">
          <h2 class="remove-top-margin add-bottom-margin">
            Existing expectations
          </h2>
          <ul>
            <% @expectations.each do |expectation| %>
            <li><%= expectation.text %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-7">
          <h2 class="remove-top-margin add-bottom-margin">
            Add new expectation
          </h2>
          <%= semantic_form_for(@expectation) do |f| %>
            <%= f.inputs do %>
              <%= f.input :text %>
              <input class="btn btn-success" name="commit" type="submit" value="Add expectation">
            <% end %>
          <% end %>
        </div>
      </div><!--/.row -->
    </div><!--/.well -->
<% content_for :page_title, "Manage expectations" %>
