<div class="row-fluid">
  <div class="span12">

    <div class="page-header">
      <h1>Manage expectations</h1>
    </div>

    <div class="well">

      <div class="row-fluid">
        <div class="span5">
          <h2>Existing expectations</h2>
          <ul>
            <% @expectations.each do |expectation| %>
            <li><%= expectation.text %></li>
            <% end %>
          </ul>
        </div>

        <div class="span7">
          <h2>Add new expectation</h2>
          <%= semantic_form_for(@expectation) do |f| %>
            <%= f.inputs do %>
              <%= f.input :text %>
              <input class="btn btn-success" name="commit" type="submit" value="Create Expectation">
            <% end %>
          <% end %>
        </div>
      </div><!--/.row-fluid -->

    </div><!--/.well -->

  </div><!--/.span12 -->
</div><!--/.row-fluid -->

<% content_for :page_title, "Manage expectations" %>
