<%# locals: (title:, url:, radio_name:, available_assignees:) %>

<% content_for :title_context, @resource.title %>
<% content_for :page_title, title %>
<% content_for :title, title %>

<%= form_for @resource, url: url, data: {module: ""} do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/radio", {
          name: radio_name,
          heading: "Choose a person to assign",
          visually_hidden_heading: true,
          items: available_assignees,
        } %>
    </div>

    <div class="govuk-grid-column-one-third options-sidebar">
      <div class="sidebar-components">
        <%= sidebar_options_heading %>

        <%= sidebar_items_list(base_edition_sidebar_buttons(edition_path(@resource))) %>
      </div>
    </div>
  </div>
<% end %>
