<!DOCTYPE html>
<html>
  <head>
    <title>We will be back soon</title>
    <style>
      body { font-family: sans-serif; text-align: center; padding-top: 100px; background: #f4f4f4; }
      h1 { font-size: 3em; }
      p { color: #666; }
    </style>
  </head>
  <body>
    <h1> Maintenance in Progress</h1>
    <p>Our system is temporarily unavailable.<br>
       We expect it to be back on Tuesday, 5 August 10:00am.</p>
  </body>
</html>
