<tr>
  <td>
    Answer: <%= answer.title %>
  </td>
  <td>
    <%= button_to 'Create new edition', admin_answer_editions_path(answer) %>
    <%= link_to 'Edit', [:admin, answer] %>
    <%= link_to 'Preview', preview_edition_path(answer.latest_edition) %>
  </td>
</tr>