<div id="global-user-location">
  <div class="wrapper">

    <p class="found_location <%= 'removing' unless geo_known_to_at_least?('ward') %>" id="location-set-message">
      <span id="location-set-info"><a class="change-location" href="<%= reset_geo_url %>"><strong class="friendly-name"><%= geo_header['friendly_name'] %></strong></a>
        <small>(<a class="explain-location" href="#">what is this?</a>)</small>
      </span>
    </p>

    <p class="ask_location <%= 'removing' if geo_known_to_at_least?('ward') %>" id="location-unset-message">
      <a class="change-location" href="#">Set location</a>
      <small>(<a class="explain-location" href="#">why?</a>)</small>
    </p>

  </div>
</div>

<div id="global-app-error" class="app-error"></div>

