<div id="global-user-location">
  <p id="location-set-message">
    <span class="pin"><img src="http://assets0.alpha.gov.uk/images/index/global-user-location-icon_set-highlight.png" alt="Location set" title="Location icon (set)"></span>
    <span id="location-set-info">Your location is set to <a href="#" id="location-notifications"><strong id="location-name"></strong> <img src="http://assets1.alpha.gov.uk/images/notify.png" alt="4" title="4 notifications"></a> | <a class="change-location" href="#">Change location</a> (<a class="explain-location" href="#">what is this?</a>)</span>
  </p>

  <p id="location-unset-message">
    <span class="pin"><img src="http://assets1.alpha.gov.uk/images/index/global-user-location-icon_unset-highlight.png" alt="Location not set" title="Location icon (not set)"></span>
    Location not set. <a class="change-location" href="#">Set location</a> (<a class="explain-location" href="#">why?</a>)
  </p>
</div>

<div id="global-app-error" class="app-error"></div>

