{{#options}}
<li class="vcard">
  <h4 class="adr">
  {{#name}}
    <span class="fn">{{name}}</span>, 
  {{/name}}

  {{#address}}
    <span class="street-address">{{address}}</span>, 
  {{/address}}
  
  {{#town}}
    <span class="locality">{{town}}</span>, 
  {{/town}}
  
  {{#postcode}}
    <span class="postal-code">{{postcode}}</span>
  {{/postcode}}
  </h4>
  
  {{#latitude}}
  <p>
    <a href="http://maps.google.com/maps?z=14&amp;ie=UTF8&amp;q={{latitude}}%2C{{longitude}}" title="Link to location in google maps">
      <img src="http://maps.google.com/maps/api/staticmap?zoom=14&amp;size=200x200&amp;center={{latitude}}%2C{{longitude}}&amp;sensor=false&amp;markers=color%3Ablue%7C{{latitude}}%2C{{longitude}}" alt="map">
    </a>
  </p>
  {{/latitude}}

  {{#url}}
  <p>
    <a class="url" href="{{url}}">{{url}}</a>
  </p>
  {{/url}}
</li>
{{/options}}