<%= render "govuk_publishing_components/components/details", {
  title: "Add a public change note",
  margin_bottom: 6,
} do %>
  <%= render "govuk_publishing_components/components/radio", {
    heading: "Add a public change note",
    heading_level: 3,
    heading_size: "s",
    name: "edition[major_change]",
    hint: "Telling users when published information has changed is important for transparency.",
    items: [
      {
        hint_text: "A change note will be published on the page and emailed to users subscribed to email alerts. The ‘last updated’ date will change.",
        text: "Yes - information has been added, updated or removed.",
        checked: edition.major_change,
        bold: true,
        value: true,
        conditional: render("govuk_publishing_components/components/textarea", {
          label: {
            text: "Describe the change for users",
            bold: true,
          },
          name: "edition[change_note]",
          value: edition.change_note,
          hint: ("<p class=\"govuk-!-margin-0\">Tell users what has changed, where and why. Write in full sentences, leading with the most important words. For example, \"College A has been removed from the registered sponsors list because its licence has been suspended.\"</p><a href=\"https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes\" class=\"govuk-link--no-visited-state\" target=\"_blank\">Guidance on change notes (opens in a new tab)</a>").html_safe,
        }),
      },
      {
        value: false,
        text: "No",
        bold: true,
        checked: !edition.major_change,
      },
    ],
  } %>
<% end %>
