<h3 class="remove-top-margin add-bottom-margin">Content block</h3>

<div class="well">
  <p>
    To create, edit and use standardised content, go to the
    <%= link_to "Content Block Manager (opens in new tab)", "#{Plek.external_url_for('content-block-manager')}", target: "_blank", rel: "noopener" %>.
  </p>
</div>
