<div class="row-fluid">
  <div class="span12">

    <div class="page-header">
      <h1>
        Reports
      </h1>
    </div>

    <div class="row-fluid">
      <p><%= link_to 'Export CSV of all non archived editions', admin_progress_report_path(format: :csv) %></p>
      <p><%= link_to 'Export CSV of all published business support editions', admin_business_support_report_path(:format => :csv) %></p>
    </div>
  </div>
</div>
