<div class="builder-container">
  <div class="nodes"></div>
  <div id="question-placeholder"></div>

  <hr>

  <div class="row">
      <div class="col-md-8">
          <button type="button" class="btn btn-primary add-question"><i class="icon-plus-sign icon-white"></i> Add question</button>
          <button type="button" class="btn btn-danger add-outcome"><i class="icon-plus-sign icon-white"></i> Add outcome</button>
      </div>
  </div>
</div>
