<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @guide.title %></p>
    <p><%= @action.friendly_description %></p>
  </body>
</html>