<div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
  <div class="govuk-checkboxes__item">
    <input type="checkbox" name="artefact[external_links_attributes][0][title][_destroy]" id="artefact_external_links_attributes_0__destroy" class="govuk-checkboxes__input">
    <label for="artefact_external_links_attributes_0__destroy" class="govuk-label govuk-checkboxes__label">Delete</label>
  </div>
</div>
