<% @edition = @resource %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds editions__admin__tab">
    <%= header_for("Admin") %>
    <%= render "govuk_publishing_components/components/list", {
      items: [
        ( primary_button_for(@edition, skip_fact_check_edition_path(@edition), "Skip fact check") if @edition.fact_check? ),
        ( link_to("Delete edition #{@edition.version_number}", confirm_destroy_edition_path(@resource), class: "govuk-link gem-link--destructive") if @edition.can_destroy? ),
      ],
    } %>
  </div>
</div>
