<%
  if @assign == "assignee"
    title = "Assign person"
    items = available_assignee_items(@resource)
    url = update_assignee_edition_path(@resource)
    name = "assignee_id"
  else
    title = "Assign 2i reviewer"
    items = available_reviewer_items(@resource)
    url = update_reviewer_edition_path(@resource)
    name = "reviewer_id"
  end
%>

<% content_for :title_context, @resource.title %>
<% content_for :page_title, title %>
<% content_for :title, title %>

<%= form_for @resource, url: url do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/radio", {
          name: name,
          heading: "Choose a person to assign",
          visually_hidden_heading: true,
          items: items
        } %>
    </div>

    <div class="govuk-grid-column-one-third options-sidebar">
      <div class="sidebar-components">
        <%= sidebar_options_heading %>

        <%= sidebar_items_list(edit_assignee_buttons(@resource)) %>
      </div>
    </div>
  </div>
<% end %>
