<% content_for :title_context, @resource.title %>
<% content_for :page_title, "Unpublish" %>
<% content_for :title, "Unpublish" %>

<%= render "govuk_publishing_components/components/inset_text", {
  text: "If you unpublish a page from GOV.UK it cannot be undone."
} %>

<div class="govuk-grid-column-two-thirds">
  <%= form_tag process_unpublish_edition_path(@resource), method: :post do %>
    <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to unpublish this document?</p>
    <div class="govuk-button-group govuk-!-margin-bottom-6">
      <%= render "govuk_publishing_components/components/button", {
        text: "Unpublish document",
        destructive: true,
      } %>
      <%= link_to("Cancel", unpublish_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
    </div>
  <% end %>
</div>
