<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Reorder chapters" %>
<% content_for :title, "Reorder chapters" %>

<% unless @edition.errors.empty? %>
  <% content_for :error_summary do %>
    <% content_for :error_summary, render("shared/error_summary", { object: @edition, full_messages: false }) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <%= form_with url: bulk_update_reorder_edition_guide_parts_path(@edition), data: { module: "unsaved-changes-prompt" } do %>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-hint">Use the up and down buttons to reorder chapters, or select and hold on an item to reorder using drag and drop</p>

      <%= render "govuk_publishing_components/components/reorderable_list", {
        items: @edition.parts.sort_by(&:order).map do |part|
          {
            id: part["id"],
            title: part["title"],
          }
        end,
        input_name: "reordered_chapters",
      } %>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update order",
        } %>
        <%= link_to("Cancel", edition_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    </div>
  <% end %>
</div>
