<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Schedule publication" %>
<% content_for :title, "Schedule publication" %>

This is the schedule page.

<form>
  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "Schedule",
      # destructive: true,
    } %>
    <%= link_to("Cancel", edition_path, class: "govuk-link govuk-link--no-visited-state") %>
  </div>
</form>
