<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag related content" %>
<% content_for :title, "Tag related content" %>
<%
  items = [
    {
      fields: render(partial: "secondary_nav_tabs/tagging/related_content_input"),
      destroy_checkbox: render(partial: "secondary_nav_tabs/related_external_links/add-another_checkbox", locals: { index: 0, id: nil }),
    }
  ]
  
  empty = render(partial: "secondary_nav_tabs/tagging/related_content_input")
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Related content items are displayed in the sidebar.</p>

    <%= form_for(:edition, :url=>edition_path) do %>
      <%= render "govuk_publishing_components/components/add_another", {
        fieldset_legend: "Related content",
        add_button_text: "Add another related content item",
        empty_fields: true,
        items: items,
        empty: empty
      } %>
    <% end %>
  </div>
</div>
