<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag browse pages" %>
<% content_for :title, "Tag browse pages" %>

<div class="govuk-grid-column-one-third options-sidebar">
  <div class="sidebar-components">
    <%= sidebar_options_heading %>
    <%= sidebar_items_list(tagging_mainstream_browse_pages_buttons) %>
  </div>
</div>
