<div class="publications-table" data-module="publications-table">
  <p class="govuk-heading-m govuk-!-margin-bottom-3 publications-table__heading"><%= pluralize(number_with_delimiter(@presenter.editions.total_count), "document" ) %></p>

  <%= render "govuk_publishing_components/components/table", {
    head: [
      {
        text: "Title",
      },
      {
        text: "Updated",
      },
      {
        text: "Assigned to",
      },
      {
        text: "Status",
      },
    ],
    rows: @presenter.editions.map do | publication |
      [
        {
          text:
            sanitize("<p class='title govuk-body govuk-!-margin-bottom-0'><a href='editions/#{publication.id}' class='govuk-link govuk-!-font-weight-bold'>#{publication.title}</a></p>") +
              sanitize("<p class='govuk-body'>/#{publication.slug}</p>") +
              (render "govuk_publishing_components/components/details", {
                title: "More details",
              } do
                render "govuk_publishing_components/components/summary_list", {
                  items: [
                    {field: "Edition", value: edition_number(publication)},
                    {field: "Format", value: format(publication)},
                    *([{field: "Important Note", value: important_note(publication)}] if important_note(publication)),
                    *([{field: "Awaiting review", value: awaiting_review(publication)}] if awaiting_review(publication)),
                    *([{field: "2i reviewer", value: reviewer(publication, current_user)}] if reviewer(publication, current_user)),
                    *([{field: "Sent Out", value: sent_out(publication)}] if sent_out(publication)),
                    *([{field: "Scheduled", value: scheduled(publication)}] if scheduled(publication)),
                    *([{field: "Published by", value: published_by(publication)}] if published_by(publication)),
                  ],
                  borderless: true,
                }
              end
          ),
        },
        {
          text: sanitize("<span class='govuk-table__cell__updated'>#{publication.updated_at.to_date.to_fs(:govuk_date_short)}</span>"),
        },
        {
          text: publication.assignee,
        },
        {
          text: sanitize("<span class='govuk-tag govuk-tag--#{publication.state}'>#{publication.state.humanize}</span>"),
        },
      ]
    end,
  } %>
</div>
