<section class="group help" role="main">
	<div id="help" class="location-not-set">
		<header>
			<h1>Help using beta.gov.uk</h1>
		</header>
    
      <nav class="help-menu group" role="navigation">
			<ul>
				<li><a href="#find">How to find what you are looking for</a></li>
				<li><a href="#tools">What kind of pages and tools will you find on the website?</a></li>
				<li><a href="#feedback">Let us know what you think</a></li>
      </ul>
			</nav>
			<article role="article" class="group" id="find">
        <div class="inner">
					<header>
          <h1>How to find what you are looking for</h1>
					<p>There are three ways you can navigate the site.</p>
					</header>
					<h2>1. Search</h2>

					<p>The search box is found on the top right of every page. As you enter your search term, suggested links will appear below so you can quickly access the content you are looking for. If you complete your search term and click 'go', you will be taken to a results page displaying the relevant content. Different types of content - such as text, multimedia or tools - have symbols to distinguish them so that you can easily choose the right one for you.</p>

					<h2>2. Related tools and topics</h2>

					<p>The related tools and topics box is found on the right side of every page. It displays links to content or tools that may be relevant to you based on the information you are viewing at the time.</p>

					<h2>3. Top-level navigation bar</h2>

					<p>At the top of each page, a navigation bar shows you which section of the site you are currently in. You can use it to return to the section or website homepage.</p>
        </div>
			</article>
			<article role="article" class="group" id="tools">
        <div class="inner">
					<header>
						<h1>What kind of pages and tools will you find on the website?</h1>
					</header>
					<h2>Guides</h2> 

					<p>Concept: Content grouped together by topic</p>

					<p>If you are looking for information that is more complex or lengthy, it will be in a guide. Most guides have chapters on the left-hand side, which allow you to access the information that is relevant to you and to see the contents of the guide.</p> 

					<p>Example &ndash; <a href="/preview/2/find-out-about-adult-learning-and-skills/overview">Find out about adult learning and skills</a></p>
					
					<h2>Quick answers</h2> 

					<p>Concept: Less text, specific answers</p>

					<p>Quick answers provide concise answers to popular user questions.</p>

					<p>Example &ndash; <a href="/preview/2/child-benefit-rates">Child Benefit rates</a></p>

					<h2>Smart answers</h2>
					
					<p>Concept: Simple answers for complex situations</p>

					<p>A smart answer provides a single or simple answer where multiple or complex conditions exist. You will be asked a series of questions which will determine what information or answer is relevant to you. </p>

					<p>You can also use smart answers to calculate payments such as pensions etc.</p>

					<p>Example - <a href="http://unicorncreative.com/betagov/smart-answers/smartanswers/?maternity-allowance">Maternity benefits you're eligible for</a></p> 

					<h2>Services</h2> 
					
					<p>Concept: Usable tools and transactions</p>

					<p>Transactional pages on the site will enable you to complete tasks online and interact with government. You will be told on the first page how long the process will take and what you will need to complete the transaction. </p>

					<p>Example &ndash; <a href="/preview/1/replace-a-child-trust-fund-voucher">Apply online for a replacement Child Trust Fund voucher</a></p>
					
					<h2>Local services</h2> 
					
					<p>Concept: Localisation</p>

					<p>This functionality allows you to enter your postcode and find places and services which are local to you, such as your nearest recycling point or driving test centre.</p>

					<p>Example &ndash; <a href="/preview/1/day-care-centres">Disability day care centres</a></p>

					<h2>Benefits and schemes</h2>

					<p>Concept: Design solutions for editorial problems</p>

					<p>These pages provide you with an overview of a particular government benefit or scheme, allowing you to read additional information if you need using the tabs at the top of the page. If you prefer, you can go straight to the transactional element of the page by clicking on 'How to claim'. </p>

					<p>Example &ndash; <a href="/preview/1/statutory-sick-pay-ssp-/#overview">Statutory Sick Pay</a></p>
        </div>
			</article>
			<article role="article" class="group" id="feedback">
        <div class="inner">
          <header>
						<h1>Let us know what you think</h1>
					</header>
					<p>The prototype is a work in progress and any feedback you can provide to help improve and shape its design or content is welcome, particularly in the following areas:</p>
					<ul>
						<li>Tone of voice</li>
						<li>Formats</li>
						<li>Usability</li>
					</ul>
        </div>
			</article>
			<article class="access-info" id="help-internet">
				<div>
					<header>
					<h1>Help using the internet</h1>
					</header>
						<h2>I need help getting started online</h2>
							<ul>
								<li>
									<a href="http://www.bbc.co.uk/webwise/topics/using-the-web/">Getting started with the internet</a><small>(BBC Web Wise)</small>	
								</li>
				        <li>
				        <h3>Find a free course near you</h3>
				        <p><a href="http://www.ukonlinecentres.com">UK Online Centres</a> offer free computer and internet training across the country.</p>
								<form action="http://www.ukonlinecentres.com/centresearch/">
				        	<label for="findacentre">Enter a UK postcode</label>
				          <input type="text" value="" id="placename" name="q"><input type="submit" value="Go">
								</form>
				        <small>(UK Online)</small>
				        </li>
				      </ul>
				
						<h2>I do not have regular access to an internet connection</h2>
				    	<ul>
								<li>
									<a href="/book-internet-access-in-a-library">Book internet access in your local library</a>
				        </li>
				      </ul>
				
							<h2>I find a keyboard or mouse hard to use</h2>                            
				      	<ul>
									<li>
				          	<a href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/">Find out how to make your mouse easier to use</a>
				            <small>(BBC My Web)</small>                                
				          </li>
				          <li>
				            <a href="http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/">Find out how to use your keyboard to control your mouse</a>
				            <small>(BBC My Web)</small>
				          </li>
				          <li>
				           	<a href="http://www.bbc.co.uk/accessibility/guides/alternative_devices/">Find out about alternatives to a keyboard and mouse</a>
				            <small>(BBC My Web)</small>                                
				          </li>
				        </ul>
				
							<h2>I can't see very well</h2>
				      	<ul>
									<li>
				          	<a href="http://www.bbc.co.uk/accessibility/guides/text_larger/">Learn how to increase the size of the text in your web browser</a>
				            <small>(BBC My Web)</small>
				          </li>
				          <li>
				            <a href="http://www.bbc.co.uk/accessibility/guides/change_colours/">Learn how to change text and background colours to make them easier to read</a>
				            <small>(BBC My Web)</small>
				          </li>
				          <li>
				            <a href="http://www.bbc.co.uk/accessibility/guides/magnify/">Learn how to magnify your screen</a>
				            <small>(BBC My Web)</small>
				          </li>
				        </ul>
				
							<h2>I am blind</h2>
				        <ul>
									<li>
				          	<a href="http://www.bbc.co.uk/accessibility/guides/screenreaders/">Find out about screen readers and talking browsers</a>
				            <small>(BBC My Web)</small>                                
				          </li>
				        </ul>
							</div>
				</article>
</section>
