
<% content_for :extra_javascript do %>
<script src="/javascripts/home-customisation.js" type="text/javascript"></script>
<script src="/javascripts/geo-locator.js" type="text/javascript"></script>
<% end %>

<section class="group home" role="main">
	<div id="homepage-search" class="location-not-set group">
		<header>
			<h1>beta.gov.uk</h1>
			<p>This is a trial &lsquo;beta&rsquo; version of the UK government's official website. Use services and find official information.</p>
		</header>
		
		<div class="formats-grid">
			<table>
				<tr>
					<td><img src="/images/icon-answer-24.png" alt="icon"><p>Answers</p></td>
					<td><img src="/images/icon-guide-24.png" alt="icon"><p>Guides</p></td>
					<td><img src="/images/icon-answer-24.png" alt="icon"><p>Benefits &amp; Schemes</p></td>
				</tr>
				<tr>
					<td><img src="/images/icon-tool-24-temp.png" alt="icon"><p>Transactions</p></td>
					<td><img src="/images/icon-answer-24.png" alt="icon"><p>Smart Answers</p></td>
				</tr>
			</table>
		</div>
		
    <form action="/search">
			<fieldset>
      	<label for="main_autocomplete">Search</label>
	      <input type="text" id="main_autocomplete" name="q" value="" placeholder="type your search here"><input type="submit" value="Go">
	      <p id="search_hint">eg try <span>Bank holidays</span> or <span>Lost passport</span></p>
			</fieldset>
    </form>

  </div>
	<div class="popular-sections group">
		<div class="currently-popular">
			<h2>Popular at the moment</h2>
			<ul>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
			</ul>
		</div>
		<div class="user-favourites">
			<h2>Your favourites</h2>
			<ul>
				<li class="guide"><a href="#">Benefits and something or other</a></li>
				<li class="guide"><a href="#">Benefits and something or other</a></li>
				<li class="guide"><a href="#">Benefits and something or other</a></li>
				<li class="guide"><a href="#">Benefits and something or other</a></li>
				<li class="guide"><a href="#">Benefits and something or other</a></li>
			</ul>
		</div>

	</div>

	<div class="site-sections group">
		<header>
			<h2>Browse by section</h2>
			<div class="edit-control"><a href="#">Customise which sections you see</a></div>
		</header>
		<ul>
			<li class="section-rights"><h3>Rights</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-justice"><h3>Justice</h3>
				<ul>
					<li class="answer"><a href="/preview/2/police-powers-of-arrest-your-rights">Police powers of arrest &ndash; your rights</a></li>
					<li class="answer"><a href="/preview/2/police-powers-to-stop-and-search-your-rights">Police powers to stop and search &ndash; your rights </a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-education"><h3>Education and skills</h3>
				<ul>
					<li class="answer"><a href="/preview/1/compulsory-subjects-in-years-10-and-11">Compulsory subjects in years 10 and 11</a></li>
					<li class="answer"><a href="/preview/2/apply-for-the-access-to-learning-fund">Apply for the Access to Learning Fund</a></li>
					<li class="guide"><a href="/preview/2/education-maintenance-allowance">Education Maintenance Allowance</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-work"><h3>Work</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-family"><h3>Family</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-money"><h3>Money</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-taxes"><h3>Taxes</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-benefits"><h3>Benefits and schemes</h3>
				<ul>
					<li class="answer"><a href="/preview/2/child-benefit-rates">Child Benefit rates</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-driving"><h3>Driving</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-housing"><h3>Housing</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-communities"><h3>Communities</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-pensions"><h3>Pensions</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-disabled"><h3>Disabled people</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-travel"><h3>Travel</h3>
				<ul>
					<li class="answer"><a href="/preview/2/child-passport-fees">Child passport fees</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
			<li class="section-citizenship"><h3>Citizenship</h3>
				<ul>
					<li><a href="#">TBC</a></li>
				</ul>
				<p class="view-all-section"><a href="#">View all in this section &rarr;</a></p>
			</li>
		<ul>
	</div>

</section>