
<% content_for :extra_javascript do %>
<script src="/javascripts/home-customisation.js" type="text/javascript"></script>
<script src="/javascripts/geo-locator.js" type="text/javascript"></script>
<% end %>

<section class="group" role="main">
	<div id="homepage-search" class="location-not-set">
		<header>
			<h1>This is beta.gov.uk</h1>
			<p>Some kind of intro blurb that a nice editor will help by writing soon...</p>
		</header>
		
		<div class="formats-grid">
			<table>
				<tr>
					<td>Answers</td>
					<td>Guides</td>
					<td>Benefits &amp; Schemes</td>
				</tr>
				<tr>
					<td>Transactions</td>
					<td>Smart Answers</td>
				</tr>
			</table>
		</div>
		
    <form action="/search">
      <label class="make-invisible" for="main_autocomplete">Search</label>
      <input type="text" id="main_autocomplete" name="q" value="" placeholder="type your search here"><input type="submit" value="Go">
      <p id="search_hint">e.g. <a href="/uk-bank-holidays/" class="search_hint_item">Bank holidays</a>, <a href="/report-lost-passport/" class="search_hint_item">Lost passport</a> or <a href="/government/departments/education/" class="search_hint_item">Department for Education</a></p>
    </form>

  </div>
	<div class="popular-sections group">
		<header>
			<h1>Popular at the moment</h1>
		</header>
		<div class="currently-popular">
			<ul>
				<li><a href="#">Bank holidays in England 2012</a></li>
			</ul>
		</div>
		<div class="user-favourites">
			<h2>Your favourites</h2>
			<ul>
				<li><a href="#">Benefits and something or other</a></li>
				<li><a href="#">Benefits and something or other</a></li>
				<li><a href="#">Benefits and something or other</a></li>
				<li><a href="#">Benefits and something or other</a></li>
				<li><a href="#">Benefits and something or other</a></li>
			</ul>
		</div>

	</div>

	<div class="site-sections group">
		<header>
			<h1>Browse by section</h1>
			<div class="edit-control"><a href="#">Hide and show which sections you want</a></div>
		</header>
		<ul>
		<li class="section-rights"><h2>Rights</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
		</li>
		<li class="section-justice"><h2>Justice</h2>
			<ul>
				<li><a href="/preview/2/police-powers-of-arrest-your-rights">Police powers of arrest &ndash; your rights</a></li>
				<li><a href="/preview/2/police-powers-to-stop-and-search-your-rights">Police powers to stop and search &ndash; your rights </a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-education"><h2>Education and skills</h2>
			<ul>
				<li><a href="/preview/1/compulsory-subjects-in-years-10-and-11">Compulsory subjects in years 10 and 11</a></li>
				<li><a href="/preview/2/apply-for-the-access-to-learning-fund">Apply for the Access to Learning Fund</a></li>
				<li><a href="/preview/2/education-maintenance-allowance">Education Maintenance Allowance</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-work"><h2>Work</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-family"><h2>Family</h2>
			<ul>
				<li><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
				<li><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
				<li><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-money"><h2>Money</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-taxes"><h2>Taxes</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-benefits"><h2>Benefits and schemes</h2>
			<ul>
				<li><a href="/preview/2/child-benefit-rates">Child Benefit rates</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-driving"><h2>Driving</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-housing"><h2>Housing</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-communities"><h2>Communities</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-pensions"><h2>Pensions</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-disabled"><h2>Disabled people</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-travel"><h2>Travel</h2>
			<ul>
				<li><a href="/preview/2/child-passport-fees">Child passport fees</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<li class="section-citizenship"><h2>Citizenship</h2>
			<ul>
				<li><a href="#">TBC</a></li>
			</ul>
			<p class="view-all-section"><a href="#">View all in this section</a></p>
		</li>
		<ul>
	</div>

</section>