<% content_for :page_title, "Publications" %>
<% content_for :title, "Publications" %>

<div class="govuk-grid-column-one-third">
  <%= render :partial => 'filter' %>
</div>
<div class="govuk-grid-column-two-thirds">
  <h2><%= @presenter.editions.count %> document(s)</h2>
  <p>[replace with publications table]</p>
</div>
