
<h2>A-Z List of Publications</h2>

<ul style="list-style: none">
  <% @items.each do |item| %>
  <li style="padding-left: 50px; vertical-align: middle; background: white url(/images/icon-publisher-<%= item.container.class.to_s.downcase %>.png) no-repeat 2% 0%; height: 45px"><%= link_to item.title, "/#{item.container.slug}" %></li>
  <% end %>
</ul>
<!-- move to homepage start --><div class="site-sections group">
	<ul>
	<li class="section-rights"><h2>Rights</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-justice"><h2>Justice</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-education"><h2>Education and skills</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-work"><h2>Work</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-family"><h2>Family</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-money"><h2>Money</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-taxes"><h2>Taxes</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-benefits"><h2>Benefits and schemes</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-driving"><h2>Driving</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-homes"><h2>Homes and communities</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-pensions"><h2>Pensions</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-disabled"><h2>Disabled people</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-travel"><h2>Travel</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
		</ul>
	</li>
	<li class="section-citizenship"><h2>Citizenship</h2>
		<p>Aliquam vitae ligula id odio tristique faucibus quis vitae nulla.</p>
		<ul>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li>
			<li><a href="#">Morbi in justo quis arcu bibendum imperdiet eget sed ante.</a></li> 
		</ul>
	</li>
	<ul>
<!-- move to homepage end --></div>
<h1>Hello</h1>