<h2>A-Z List of Publications</h2>

<ul style="list-style: none">
  <% @items.each do |item| %>
  <li style="padding-left: 50px; vertical-align: middle; background: white url(/images/icon-publisher-<%= item.container.class.to_s.downcase %>.png) no-repeat 2% 0%; height: 45px"><%= link_to item.title, "/#{item.container.slug}" %></li>
  <% end %>
</ul>

