.mainstream-table {
  .govuk-details__summary {
    &:before {
      color: rgb(11, 12, 12);
    }
  }

  .govuk-details__summary-text {
    color: rgb(11, 12, 12) !important;
  }

  th {
    &.govuk-table__header--expand {
      white-space: nowrap;
    }
  }

  td {
    &.govuk-table__cell--updated {
      white-space: nowrap;
    }
  }

  .govuk-details {
    margin-top: govuk-spacing(2);
    margin-bottom: 0 !important;

    .govuk-summary-list {
      width: auto;
    }
  }

  .govuk-accordion__show-all {
    display: none;

    .js-enabled & {
      display: block;
      margin: 0;
      padding: 0;
      line-height: 1;
      float: right;
    }
  }

  .govuk-accordion {
    .js-enabled & {
      border-bottom: 0;
    }

    .govuk-accordion__section-heading {
      button {
        border: none;
        padding: 0;
      }
    }
  }

  .govuk-accordion__section-heading-text {
    display: none;

    .js-enabled & {
      display: none;
    }
  }

  .govuk-table__body {
    position: relative;

    .title {
      @include govuk-responsive-margin(0)
    }

    .updated {
      @include govuk-responsive-margin(2, "top");

      display: block;
      color: $govuk-secondary-text-colour;
    }
  }

  .govuk-table__row {
    .govuk-table__cell {
      .status {
        display: inline-block;
        padding: govuk-spacing(1) govuk-spacing(2);

        &--amends-needed {
          background-color: govuk-tint(govuk-colour("red"), 75%);
        }

        &--archived {
          background-color: govuk-tint(govuk-colour("dark-grey"), 85%);
        }

        &--draft {
          background-color: govuk-tint(govuk-colour("yellow"), 75%);
        }

        &--out-for-fact-check {
          background-color: govuk-tint(govuk-colour("bright-purple"), 85%);
        }

        &--fact-check-received {
          background-color: govuk-tint(govuk-colour("red"), 75%);
        }

        &--ready {
          background-color: govuk-tint(govuk-colour("blue"), 60%);
        }

        &--scheduled-for-publishing {
          background-color: govuk-tint(govuk-colour("turquoise"), 80%);
        }

        &--published {
          background-color: govuk-tint(govuk-colour("green"), 80%);
        }

        &--awaiting-2i {
          background-color: govuk-tint(govuk-colour("blue"), 70%);
        }

        &--in-2i {
          background-color: govuk-tint(govuk-colour("dark-grey"), 85%);
        }
      }
    }

    &:nth-of-type(2) {
      background: govuk-colour("light-grey");

      .govuk-table__cell {
        border-bottom: 0;
        padding: 0 govuk-spacing(2);

        .govuk-accordion__section-content {
          position: relative;

          & > button {
            position: absolute;
            top: govuk-spacing(2);
            right: 0;
          }
        }
      }

      .govuk-accordion {
        margin-bottom: 0 !important;
      }

      .govuk-accordion__section {
        padding-top: 0;
      }

      .govuk-summary-list,
      .gem-c-summary__block {
        margin-bottom: 0;
      }
    }
  }

  .govuk-accordion__controls {
    display: none;
  }

  .govuk-accordion__section {
    &.govuk-accordion__section--expanded {
      border-bottom: 1px solid #b1b4b6;
    }
  }

  .govuk-accordion__section-header {
    position: absolute;
    top: govuk-spacing(2);
    right: 0;
  }

  .govuk-accordion__section-content {
    .js-enabled & {
      padding: 0;
    }
  }
}
