<div class="edit_edition__supplementary_information">
  <p class="govuk-body">
    Use
    <%= link_to "Content Block Manager (opens in new tab)", "#{Plek.external_url_for('content-block-manager')}", target: "_blank", rel: "noopener", class: "govuk-link govuk-link--no-visited-state" %>
    to create, edit and use standardised content across GOV.UK
  </p>
</div>
