/*
  # app/assets/stylesheets/application.css
  *= require formtastic-bootstrap
*/

/* Pagination tweaks copied from Migratorator */
.pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination span.current { background: #eee; }
.pagination span:first-child, .pagination span:first-child a {
  border-left-width: 1px;
}

body {
  padding-top: 40px;
  padding-bottom: 60px;
}

.navbar .brand {
  background-image: url("/assets/header-crown.png");
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  font-family: "GillSans", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0;
  padding-left: 2em;
}

.sidebar-nav {
  padding: 9px 0;
}
.navbar-fixed-bottom {
  text-align: center;
}

.workflow_buttons form {
  display: inline-block;
  margin-bottom: 6px;
}

button.send-fact-check {
  /* add one column margin to the Fact Check workflow button since we can't use .offset1 on the preview button */
  margin-left: 70px;
}

td.icon {
  /* change alignment of publication table cells that just have icons in them  */
  text-align: center;
}

.modal textarea.span5, 
.modal input.span5 {
  width: 520px;
}

/* table sorting styles */

th .sortable { 
  background-image: url(/assets/bg.gif);     
  cursor: pointer; 
  background-repeat: no-repeat; 
  background-position: center right; 
  padding-right: 20px; 
}

th .asc { 
  background-image: url(/assets/asc.gif); 
  background-color: #eee;
}

th .desc { 
  background-image: url(/assets/desc.gif); 
  background-color: #eee;
}

th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

#current td {
  background-color: #adf;
}

/* Placeholder text to explain a blank value */
.placeholder {
  color: #ccc;
}
