@import 'govuk_admin_template';
@import 'select2';
@import './vendor/select2-bootstrap';
@import 'colors';
@import 'bootstrap_and_overrides';
@import 'forms';

// Components
@import 'sidebar_nav';
@import 'sortable_accordion';
@import 'sortable_table';
@import 'panel_part';
@import 'diff';
@import 'notes';
@import 'workflow';

// Pages
@import 'downtime';
@import 'smart_answer_builder';
