/*
  # app/assets/stylesheets/application.css
  *= require formtastic-bootstrap
*/

body {
  padding-top: 40px;
  padding-bottom: 60px;
}

.navbar .brand {
  background-image: url("/assets/header-crown.png");
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  font-family: "GillSans", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0;
  padding-left: 2em;
}

.sidebar-nav {
  padding: 9px 0;
}
.navbar-fixed-bottom {
  text-align: center;
}

.workflow_buttons form {
  display: inline-block;
  margin-bottom: 6px;
}

button.send-fact-check {
  /* add one column margin to the Fact Check workflow button since we can't use .offset1 on the preview button */
  margin-left: 70px;
}

td.icon {
  /* change alignment of publication table cells that just have icons in them  */
  text-align: center;
}

.modal textarea.span5, 
.modal input.span5 {
  width: 520px;
}

/* tablesorter styles */

th.header { 
  background-image: url(/assets/bg.gif);     
  cursor: pointer; 
  background-repeat: no-repeat; 
  background-position: center right; 
  padding-right: 20px; 
}

th.headerSortUp { 
  background-image: url(/assets/asc.gif); 
  background-color: #eee;
}

th.headerSortDown { 
  background-image: url(/assets/desc.gif); 
  background-color: #eee;
}
