#edition_start_date_1i, #edition_end_date_1i {
  width: 80px;
}

#edition_start_date_2i, #edition_end_date_2i {
  width: 110px;
}

#edition_start_date_3i, #edition_end_date_3i {
  width: 50px;
}

.checkbox.inline + .checkbox.inline {
  margin-left: 0;
  width: 100%;
}

.checkbox.inline.all {
	margin-bottom: 10px;	
	width:100%;
}

h3 {
	margin-bottom: 10px;
}