.help-note {
  font-weight: bold;

  .glyphicon {
    float: left;
    font-size: $font-size-large;
    margin-right: $default-horizontal-margin;
  }
}

.downtime-dates p {
  font-weight: bold;
  font-size: 16px;
}

.date {
  width: auto;
}

.joining-on {
  @media screen and (min-width: 600px) {
    margin-top: 40px;
  }
}
