.edit {
  &--readonly {
    section > p {
      @extend .govuk-body; // stylelint-disable-line scss/at-extend-no-missing-placeholder
      white-space: pre-line;
    }
  }

  &--editable {
    input[id='lgil_code'] {
      @extend .govuk-input--extra-letter-spacing; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }
  }

  &--editable,
  &--readonly {
    .govuk-accordion__section-heading-text {
      @include govuk-font-size($size: 19);
    }
  }

  &--resend-fact-check-email-page {
    &__message {
      @extend .govuk-body; // stylelint-disable-line scss/at-extend-no-missing-placeholder

      white-space: pre-line;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }

  &--send-fact-check-page {
    @extend .govuk-body; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  }

  &--send-fact-check-email-preview {
    @extend .govuk-body; // stylelint-disable-line scss/at-extend-no-missing-placeholder

    border: 1px solid #cecece; // Temporary workaround until govuk-functional-colour is working
    background-color: #f4f8fb; // Temporary workaround until govuk-functional-colour is working
    padding: 0 15px;

    .logo-presentation{
      font-size:18px;
      line-height:23px;
    }

    .logo-presentation img{
      padding: 0 5px 0 7px;
      height: 27px;
      width: auto;
      border-left: solid 2px #005abb; // Not a standard gov.uk colour, but taken directly from Notify
    }

    .gem-c-govspeak h2{
      padding-top: 0;
    }
  }
}

.editions__edit__summary{
  a{
    @extend .govuk-link--no-visited-state; // stylelint-disable-line scss/at-extend-no-missing-placeholder
  }
}
