.editions {
  &__edit__summary {
    .govuk-tag {
      display: inline;
    }
  }

  &__admin__tab {
    .govuk-link {
      margin-top: govuk-spacing(3)
    }
  }

  &__important-note__details {
    white-space: pre-wrap;
  }
}

.edit_edition__supplementary_information, .edit_edition__content_block_link {
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(4, "top");
}

.gem-c-notice + .gem-c-inset-text {
  padding-top: 0;
}
