.editions {
  &__edit__summary {
    .govuk-tag {
      display: inline;
    }
  }

  &__admin__tab {
  &__important-note__details {
    white-space: pre-wrap;
    margin-top: govuk-spacing(3)
  }
  }

  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(4, "top");
}
  }
}

.edit_edition__supplementary_information {
  .govuk-link {

.gem-c-notice + .gem-c-inset-text {
  padding-top: 0;
}
