.editions__edit__summary {
  .govuk-tag {
    display: inline;
  }
}

.edit_edition__change_note {
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(4, "top");
}

.editions__admin__tab {
  .govuk-link {
    margin-top: govuk-spacing(3)
  }
}
