#edition_in_beta_input {
  .help-block {
    margin-top: 0;
  }
}

.edition-tags {
  .select2, .selectize {
    display: block;
  }
}

.emphasised-field {
  background: #ddd;
  padding: $default-vertical-margin/2;
  border-radius: $border-radius-base;
}
