#edition_in_beta_input {
  .help-block {
    margin-top: 0;
  }
}

.edition-tags {
  .select2, .selectize {
    display: block;
  }
}

.emphasised-field {
  background: #ddd;
  padding: $default-vertical-margin/2;
  border-radius: $border-radius-base;
}

.promotion-choice-none:checked ~ .promotion-choice-url {
  position: absolute;
  left: -9999em;
}

.related-external-links {
  input[type=text] {
    margin-bottom: 0px;
  }

  .fields:last-of-type {
    margin-bottom: 10px;
  }
}

.nested-item {
  background: #fff;
  padding: 8px;
  margin-bottom: 3px;

  .remove-row {
    @extend .btn;
    @extend .btn-danger;

    position: absolute;
    right: 8px;
    top: 8px;
  }

  .remove-row-related {
    top: auto;
    bottom: 0;
    right: 15px
  }
}

.field-with-error {
  border: 2px solid $state-danger-text;
}

.error-block {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $state-danger-text;
}

.vertical-drag {
  cursor: ns-resize;
}
