.edition-tags {
  .select2 {
    display: block;
  }
}

.emphasised-field {
  background: #dddddd;
  padding: $default-vertical-margin / 2;
  border-radius: $border-radius-base;
}

.promotion-choice-none:checked ~ .promotion-choice-url {
  position: absolute;
  left: -9999em;
}

.promotion-choice-register-to-vote:checked ~ .promotion-choice-opt-in-out-url,
.promotion-choice-mot-reminder:checked ~ .promotion-choice-opt-in-out-url,
.promotion-choice-electric-vehicle:checked ~ .promotion-choice-opt-in-out-url {
  position: absolute;
  left: -9999em;
}

.related-external-links {
  input[type="text"] {
    margin-bottom: 0;
  }

  .fields:last-of-type {
    margin-bottom: 10px;
  }
}

.nested-item {
  background: #ffffff;
  padding: 8px;
  margin-bottom: 3px;

  .remove-row {
    @extend .btn; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    @extend .btn-danger; // stylelint-disable-line scss/at-extend-no-missing-placeholder

    position: absolute;
    right: 8px;
    top: 8px;
  }

  .remove-row-related {
    top: auto;
    bottom: 0;
    right: 15px;
  }
}

.field-with-error {
  border: 2px solid $state-danger-text;
}

.error-block {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $state-danger-text;
}

.vertical-drag {
  cursor: ns-resize;
}

.inset-text-field {
  border-left: 5px solid #bcbcbc;
  padding: 6px 0 6px 10px;
  margin-left: 25px;

  .inset-text-field-label {
    font-weight: normal;
  }
}

.has-error {
  color: #a94442;
}
