#edition_in_beta_input {
  .help-block {
    margin-top: 0;
  }
}

.edition-tags {
  .select2 {
    display: block;
  }
}
.emphasised-field {
  background: #ddd;
  padding: 1px 10px;
  margin-bottom: 10px;
  width: 652.5px;
  border-radius: 3px;
}
