// stylelint-disable selector-no-qualifying-type

.history {
  .gem-c-inset-text {
    overflow-wrap: break-word;
    padding-top: 0;
  }

  // stylelint-disable scss/at-extend-no-missing-placeholder
  &__actions {
    a {
      @extend .govuk-link;
      @extend .govuk-link--no-visited-state;
    }
  }
  // stylelint-enable scss/at-extend-no-missing-placeholder

  &__action--receive_fact_check__commment {
    .govuk-inset-text {
      background: govuk-colour("blue", $variant: "tint-95");
      color: govuk-functional-colour(text);
    }
  }

  &__action--receive_fact_check--toggle {
    border-width: 0;
    color: govuk-functional-colour(link);
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}
