.history {
  .gem-c-inset-text {
    padding-top: 0;
    word-break: break-word;
  }

  // stylelint-disable scss/at-extend-no-missing-placeholder
  &__actions {
    a {
      @extend .govuk-link;
      @extend .govuk-link--no-visited-state;
    }
  }

  &__action--receive_fact_check__commment {
    .govuk-inset-text {
      @extend .govuk-tag--light-blue;
      color: $govuk-text-colour;
    }
  }
  // stylelint-enable scss/at-extend-no-missing-placeholder

  &__action--receive_fact_check--toggle {
    border-width: 0;
    color: $govuk-link-colour;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}
