@import "govuk_admin_template";
@import "select2";
@import "./vendor/select2-bootstrap";
@import "colors";
@import "bootstrap_and_overrides";
@import "forms";

// Components
@import "sidebar_nav";
@import "sortable_accordion";
@import "sortable_table";
@import "panel_part";
@import "diff";
@import "notes";
@import "workflow";
@import "broken_links_report";
@import "error_summary";

// Pages
@import "smart_answer_builder";
@import "smart_answer_flowchart";

// GOVUK Design System
@import "govuk_publishing_components/all_components";

// Include glyphicons - still required in legacy styles but cannot be loaded from Bootstrap via Dart Sass
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("bootstrap/glyphicons-halflings-regular.eot");
  src: url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),url("bootstrap/glyphicons-halflings-regular.woff2") format("woff2"),url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
