.receive-fact-check-note {
  padding: 30px;
  background: #fffff1;
  box-shadow: rgba(0,0,0,0.2) 0 2px 5px;
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  font-size: 14px;
  margin-right: 25px;
  margin-top: $default-vertical-margin;
}

.original-message-toggle {
  display: block;
  margin: $default-vertical-margin -30px -30px;
  background: rgba(0,0,0,0.02);
  padding: 15px 30px;
}

.original-message-toggle:hover {
  background: rgba(0,0,0,0.05);
}

.original-message {
  margin-top: 50px;
}
