.panel-part {
  border-color: $table-border-color;

  .panel-heading {
    background-color: darken($gray-lighter, 5%);
  }

  .js & .panel-heading {
    cursor: move;
  }

  // Nudge chevron within panel heading down slightly
  // for better alignment with text
  .panel-heading .glyphicon-chevron-down {
    margin-top: 1px;
  }

  .panel-body {
    background-color: $gray-lighter;
  }
}
