$width: 40;

.publications-table {
  th:first-child {
    width: calc($width * 1%);
  }

  details {
    width: calc(100 / $width * 100%);
  }

  table {
    table-layout: fixed;
  }

  &--expand-link {
    float: right;
    font-size: 1.1875rem;
  }

  .govuk-tag {
    &--amends_needed {
      @extend .govuk-tag--red; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--archived {
      @extend .govuk-tag--blue; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--draft {
      @extend .govuk-tag--yellow; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--fact_check {
      @extend .govuk-tag--purple; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--fact_check_received {
      @extend .govuk-tag--pink; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--ready {
      @extend .govuk-tag--green; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--scheduled_for_publishing {
      @extend .govuk-tag--turquoise; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--published {
      @extend .govuk-tag--orange; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }

    &--in_review {
      @extend .govuk-tag--grey; // stylelint-disable-line scss/at-extend-no-missing-placeholder
    }
  }

  .govuk-table {
    border-top: 2px solid $govuk-text-colour;
  }

  .govuk-details {
    margin-top: govuk-spacing(2);
  }

  .govuk-summary-list {
    width: auto;
  }

  .govuk-details__summary {
    &::before {
      color: $govuk-text-colour;
    }
  }

  .govuk-details__summary-text {
    color: $govuk-text-colour;
  }

  .govuk-details__text {
    dd {
      word-break: break-word;
    }
  }
}
