.publisher-table {
  position: relative;

  &--expand-link {
    float: right;
    font-size: 1.1875rem;
  }

  .govuk-table {
    border-top: 2px solid $govuk-text-colour;

    .govuk-table__header {
      white-space: nowrap;
    }

    .govuk-table__cell__updated {
      white-space: nowrap;
    }

    .govuk-tag {
      &--amends_needed {
        @extend .govuk-tag--red;
      }

      &--archived {
        @extend .govuk-tag--blue;
      }

      &--draft {
        @extend .govuk-tag--yellow;
      }

      &--fact_check {
        @extend .govuk-tag--purple;
      }

      &--fact_check_received {
        @extend .govuk-tag--pink;
      }

      &--ready {
        @extend .govuk-tag--green;
      }

      &--scheduled_for_publishing {
        @extend .govuk-tag--turquoise;
      }

      &--published {
        @extend .govuk-tag--orange;
      }

      &--in_review {
        @extend .govuk-tag--grey;
      }
    }

    .govuk-details {
      margin-top: govuk-spacing(2);
      margin-bottom: 0 !important;
    }

    .govuk-summary-list {
      width: auto;
    }

    .govuk-details__summary {
      &:before {
        color: $govuk-text-colour;
      }
    }

    .govuk-details__summary-text {
      color: $govuk-text-colour;
    }

    .govuk-details__text {
      dd {
        word-break: break-word;
      }
    }
  }
}
