.fact-check, 
.two-eye-queue {
  .item-count {
    color: $govuk-secondary-text-colour;
    margin-left: govuk-spacing(3);
    vertical-align: middle;
    @include govuk-font(19, regular);
  }
}

.fact-check {
  thead tr {
    // Title
    :nth-child(1) {
      width: 40%;
    }
    // Response/Sent out
    :nth-child(2) {
      width: 20%;
    }
  }
}

.my-content {
  thead tr {
    // Title
    :nth-child(1) {
      width: 45%;
    }
    // Status
    :nth-child(2) {
      width: 20%;
    }
    // Updated
    :nth-child(3) {
      width: 20%;
    }
    // Content type
    :nth-child(4) {
      width: 15%;
    }
  }

  .govuk-table__header > .govuk-hint {
    margin-top: govuk-spacing(1);
  }
}

.two-eye-queue {
  th > .important-note {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: govuk-spacing(1);
    margin-top: govuk-spacing(1);

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  thead tr {
    // Title
    :nth-child(1) {
      width: 40%;
    }
    // Content type
    :nth-child(2) {
      width: 15%;
    }
    // Assigned to
    :nth-child(3) {
      width: 15%;
    }
    // Time in queue
    :nth-child(4) {
      width: 15%;
    }
    // 2i reviewer
    :nth-child(5) {
      width: 15%;
    }
  }
}

.find-content {
  .item-count {
    color: $govuk-secondary-text-colour;
    @include govuk-font(19, "regular");
  }

  .govuk-hint {
    @include govuk-font(16);
  }

  thead tr {
    // Title
    :nth-child(1) {
      width: 40%;
    }
    // Status
    :nth-child(2) {
      width: 20%;
    }
    // Updated
    :nth-child(3) {
      width: 15%;
    }
    // Assigned to
    :nth-child(4) {
      width: 15%;
    }
    // Content type
    :nth-child(5) {
      width: 10%;
    }
  }
}
