$width: 40;

.publications-filter {
  background: govuk-colour("light-grey");

  .gem-c-select {
    label {
      font-weight: 700;
    }
  }

  .govuk-checkboxes__label::before {
    background: govuk-colour("white");
  }
}

.publications-table {
  th:first-child {
    width: calc($width * 1%);
  }

  details {
    width: calc(100 / $width * 100%);
  }

  table {
    table-layout: fixed;
  }

  &--expand-link {
    float: right;
    font-size: 1.1875rem;
  }

  .govuk-table {
    border-top: 2px solid $govuk-text-colour;
  }

  .govuk-details {
    margin-top: govuk-spacing(2);
  }

  .govuk-summary-list {
    width: auto;
  }

  .govuk-details__summary {
    &::before {
      color: $govuk-text-colour;
    }
  }

  .govuk-details__summary-text {
    color: $govuk-text-colour;
  }

  .govuk-details__text {
    dd {
      word-break: break-word;
    }
  }
}

.my-content {
  thead tr {
    // Title
    :nth-child(1) {
      width: 45%;
    }
    // Status
    :nth-child(2) {
      width: 20%;
    }
    // Updated
    :nth-child(3) {
      width: 20%;
    }
    // Content type
    :nth-child(4) {
      width: 15%;
    }
  }

  .govuk-table__header > .govuk-hint {
    margin-top: govuk-spacing(1);
  }
}
