/* table sorting styles */

.publication-table-title {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.3;
  font-size: 16px;

  .badge-beta {
    position: relative;
    top: -2px;
  }
}

.badge-beta {
  background-color: $beta-color;
}

.publication-table-date {
  white-space: nowrap;
}

th .sortable {
  background-image: image-url("bg.gif");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 20px;
}

th .asc {
  background-image: image-url("asc.gif");
  background-color: #dddddd;
}

th .desc {
  background-image: image-url("desc.gif");
  background-color: #dddddd;
}

th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
