.ui-sortable .panel {
  margin-bottom: 5px;
}

// 3s yellow fade animation
// Could be part of admin gem
// Based on http://jsfiddle.net/csswizardry/TVqVC/

@-webkit-keyframes yellow-fade {
  5% {
    background-color:#ff9;
  }
}

@-moz-keyframes yellow-fade {
  5% {
    background-color:#ff9;
  }
}

@keyframes yellow-fade {
  5% {
    background-color:#ff9;
  }
}

.yellow-fade {
  -webkit-animation:yellow-fade 3s;
     -moz-animation:yellow-fade 3s;
          animation:yellow-fade 3s;
}
