<% content_for :page_title, "Calendars - Bank holidays" %>
<% content_for :title, "Bank holidays" %>
<% content_for :title_context, "Calendars" %>

  <div>
    <p>
      <%= hol = Edition.last
          hol.content_id
          hol.title %>
      <%= @latest_bank_holidays.content_id
          @latest_bank_holidays.status %>
    </p>
  </div>
