<h2 style="color:#f00;">!! <a href="mailto:dev@alphagov.co.uk">Talk to a dev</a> before using any buttons on this tab !!</h2>
<%- if edition_can_be_deleted?(@latest_edition) -%>
<%= button_to 'Destroy Edition', path_for_edition(@latest_edition), :method => :delete %>
<%- end -%>
<%- if @latest_edition.container.can_destroy? -%>
<%= button_to "Destroy #{@latest_edition.container.class.to_s.humanize}", admin_publication_path(@latest_edition.container), :method => :delete %>
<%- end -%>