<h2 style="color:#f00;">!! <a href="mailto:dev@alphagov.co.uk">Talk to a dev</a> before using any buttons on this tab !!</h2>
<%- if @resource.can_destroy? -%>
<%= button_to "Delete #{@edition.class.to_s.underscore.humanize}", path_for_edition(@resource), :method => :delete, :class => "btn btn-danger" %>
<%- end -%>
<%- if @resource.fact_check? -%>
<%= button_to "Skip Fact Check", skip_fact_check_for_edition(@resource), :method => :post %>
<%- end -%>
<%- if @edition.published? -%>
  <%- if @edition.class == GuideEdition -%>
    <%= button_to "Create new edition as Quick Answer",
        duplicate_admin_edition_path(@resource, {from: "GuideEdition", to: "AnswerEdition"}),
        :method => :post, :class => "btn" %>
  <%- end -%>

  <%- if @edition.class == AnswerEdition -%>
    <%= button_to "Create new edition as Guide",
        duplicate_admin_edition_path(@resource, {from: "AnswerEdition", to: "GuideEdition"}),
        :method => :post, :class => "btn" %>
  <%- end -%>
<%- end -%>
