<h2 style="color:#f00;">!! <a href="mailto:dev@alphagov.co.uk">Talk to a dev</a> before using any buttons on this tab !!</h2>
<%- if @resource.can_destroy? -%>
<%= button_to "Delete #{@edition.class.to_s.underscore.humanize}", path_for_edition(@resource), :method => :delete %>
<%- end -%>
<%- if @resource.fact_check? -%>
<%= button_to "Skip Fact Check", skip_fact_check_for_edition(@resource), :method => :post %>
<%- end -%>
