<div class="notification">
  <p>We have received a fact check response for this edition. Please check the response in History & Notes, and select an action below.</p>
  
    <div class="workflow_buttons">      
      <%= fact_check_buttons(@latest_edition.container, @latest_edition)%>
    </div>
    <%= fact_check_forms(@latest_edition.container, @latest_edition)%>
</div>