<div class="alert alert-info">
  <p>We have received a fact check response for this edition. Please check the response in History &amp; Notes, and select an action below.</p>
  
  <div class="workflow_buttons">      
    <%= fact_check_buttons(@resource)%>
  </div>
  <%= fact_check_forms(@resource)%>
</div>
