<h3>Govspeak Help</h3>

<section class="govspeak_help">

<p>For full examples see: <a href="https://sites.google.com/a/digital.cabinet-office.gov.uk/wiki/projects-and-processes/editorial/govspeak" rel="external">the Govspeak Wiki</a>.</p>

<h4>Headers</h4>
<p class="help-block">Note that the page already has a top heading from the article name.</p>
<pre>## Top level sub-heading
### Second level sub-heading</pre>

<h4>Text Styles</h4>
<pre>**This text will be bold**</pre>

<h4>Acronyms</h4>
<pre>*[HMRC]: Her Majesty's Revenue and Customs</pre>

<h4>Bulleted List</h4>
<pre>* item 1
* item 2
* item 3</pre>

<h4>Numbered List</h4>
<pre>1. item 1
2. item 2
3. item 3</pre>

<h4>List of steps</h4>
<pre>s1. First step
s2. Second step
s3. Final step</pre>

<h4>Tables</h4>
<pre>Fruit | Colour
-|-
apple | green
banana | yellow</pre>

<h4>Internal links</h4>
<p class="help-block">Use when linking to <code>http://www.gov.uk/</code>.</p>
<pre>[Income tax rates](/income-tax-rates "Find out more about income tax rates")</pre>

<h4>External links</h4>
<pre>[link text](http://www.example.com "Title text goes here"){:rel="external"}</pre>

<h4>Download link style</h4>
<pre>$D[link text](http://example.com)$D</pre>

<h4>Info boxes</h4>
<p class="help-block">These can contain other Govspeak items.</p>
<pre>^Info box^
%Warning or alert box%
@Highlighted information box@</pre>

</section>
