<%= hidden_field_tag "return_to", params[:return_to] if params[:return_to] %>

<label for="whole_edition_assigned_to_id">Assigned to</label>
<%= f.collection_select :assigned_to_id, User.order_by([[:name, :asc]]).all, :id, :name, :prompt => "Select someone" %>

<%= f.input :alternative_title,
      :label => "Alternative title",
      :hint => 'Use this where longer title is needed for SEO purposes',
      :input_html => {:autofocus => true, :disabled => @resource.published? } %>

<%= f.input :overview,
      :as => :text,
      :input_html => {:rows => 3, :disabled => @resource.published? },
      :label => 'Meta tag description',
      :hint =>'Some search engines will display this if they can’t find what they need in the main text' %>
