<div class="row">
  <div class="col-md-12">

    <div class="page-header">
      <h1>
        Reports
      </h1>
    </div>

    <div class="row">
      <p><%= link_to 'Export CSV of all non archived editions', progress_report_path(format: :csv) %></p>
      <p><%= link_to 'Export CSV of all published business support editions', business_support_report_path(:format => :csv) %></p>
    </div>
  </div>
</div>

<% content_for :page_title, "Reports" %>