<div class="page-header">
  <h1>
    Reports
  </h1>
</div>

<p><%= link_to 'Export CSV of all documents for departmental distribution', organisation_content_report_path(format: :csv) %></p>
<p><%= link_to 'Export CSV of progress on all non-archived editions', progress_report_path(format: :csv) %></p>
<p><%= link_to 'Export CSV of all published business support editions', business_support_report_path(format: :csv) %></p>

<% content_for :page_title, "Reports" %>
