name: Run Minitest

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        required: false
        type: string
      publishingApiRef:
        description: 'The branch, tag or SHA to checkout Publishing API'
        required: false
        default: main
        type: string

jobs:
  run-minitest:
    name: Run Minitest
    runs-on: ubuntu-latest
    steps:
      - name: Setup Postgres
        id: setup-postgres
        uses: alphagov/govuk-infrastructure/.github/actions/setup-postgres@main
        with:
          POSTGRES_IMAGE_TAG: 16
          POSTGRES_DB: publisher_test

      - name: Setup Redis
        uses: alphagov/govuk-infrastructure/.github/actions/setup-redis@main

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          repository: alphagov/publisher
          ref: ${{ inputs.ref || github.ref }}

      - name: Checkout Publishing API (for Content Schemas)
        uses: actions/checkout@v5
        with:
          repository: alphagov/publishing-api
          ref: ${{ inputs.publishingApiRef }}
          path: vendor/publishing-api

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Precompile assets
        uses: alphagov/govuk-infrastructure/.github/actions/precompile-rails-assets@main

      - name: Initialize database
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
        run: bundle exec rails db:setup

      - name: Run Minitest
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
          GOVUK_CONTENT_SCHEMAS_PATH: vendor/publishing-api/content_schemas
        run: bundle exec rake test
